.header-2 {
    background-size: 40%;
    display : flex;
    gap : 5rem;
    justify-content : space-between;
    margin : 4rem 0;

    &__div {
        display : flex;
        flex-direction : column;
        gap : 5rem;
        width : 55%;
    }

    & form select {
        background-color : $green;
        padding : 0 1.3rem;
        border-radius : 40px;
    }

    &__img-container {
        width : 35%;
        & img {
            width : 100%;
        }
    }
    
}