.nav {
    display: flex;
    justify-content: space-between;
    align-items : center;
    width : 90%;
    position : absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index : 0;

    @media (min-width: 1080px) {
        top: 70px;
    }

    @media (min-width: 1280px) {
        width : 85%;
    }

    @media (min-width: 1920px) {
        width : 70%;
    }
  
    &__content-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction : row-reverse;
      align-items: center;


      @media (min-width: 1080px) {
        width : 70%;
        flex-direction : row;
        justify-content : flex-start;
        gap : 3rem;
      }


      & a {
        text-decoration: none;
        color: $p-grey;
        font-family: "Chillax", sans-serif;
        font-weight : 600;
      }
  
      & ul {
        display : none;

        @media (min-width: 1080px) {
            list-style-type: none;
            font-weight: 600;
            display : flex;
            gap : 1.8rem;
        }

        @media (min-width: 1280px) {
            gap : 1.5rem;
        }
      }
  
      & img[alt="logo de Chiirz"]{
        width : 40%;

        @media (min-width: 768px) {
            width : 30%;
        }

        @media (min-width: 1080px) {
            width : 23%;
        }
      }

      & img[alt="burger-menu"] {
        display : inline-block;
        width : 23%;
        @media (min-width: 768px) {
          width : 15%;
      }
        @media (min-width: 1080px) {
            display : none ;
        }
    }  
}
  
    &__content-btn {
      display : none;
  
      @media (min-width: 1080px) {
        width: 35%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
        }

      & a {
        text-decoration: none;
        color: $black;    
      }
    }

    &__content-online {
      display : none;
      @media (min-width: 1080px) {
        display : block;
        }

      & a {
        display : flex;
        align-items : center;
        justify-content: flex-end;
        text-decoration : none;
        gap : 1rem;

        & div {
          display : flex;
          flex-direction: column;
          gap : 0.2rem;

          & p {
            color : $p-grey;
            font-size : 0.8rem;
          }
          & p+p {
            font-family: 'Chillax Variable', sans-serif;
          font-weight: 600;
          font-size: 1.25rem;
          color : $black;
          }
        }
        
        & img {
          width : 25%;
        }
      }
    }

    &__sidebar {
      position : fixed;
      top : 0;
      left : 0;
      z-index : 999;
      background-color : red;
    }
   
  }
  
