.nav {
    display: flex;
    justify-content: space-between;
    align-items : center;
    width : 85%;
    margin: 3rem auto 0 auto;

    @media (min-width: 1080px) {
        width : 90%;
    }

    @media (min-width: 1280px) {
        width : 85%;
    }

    @media (min-width: 1920px) {
        width : 70%;
    }
  
    &__content-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction : row-reverse;
      align-items: center;

      @media (min-width: 1080px) {
        width : 70%;
        flex-direction : row;
      }

      & a {
        text-decoration: none;
        color: $p-grey;
        font-family: "Chillax", sans-serif;
        font-weight : 600;
      }
  
      & ul {
        display : none;

        @media (min-width: 1080px) {
            list-style-type: none;
            font-weight: 600;
            display : flex;
            gap : 1.2rem;
        }

        @media (min-width: 1280px) {
            gap : 1.5rem;
        }
      }
  
      & img[alt="logo de Chiirz"]{
        width : 30%;

        @media (min-width: 768px) {
            width : 25%;
        }

        @media (min-width: 1080px) {
            width : 30%;
        }
      }

      & img[alt="burger-menu"] {
        display : inline-block;
        @media (min-width: 1080px) {
            display : none ;
        }
    }  
}
  
    &__content-btn {
      display : none;
  
      //deskop 1080 à 1280
      @media (min-width: 1080px) {
        width: 30%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
        }

      & a {
        text-decoration: none;
        color: $black;    
      }
    }
  }
  