.register {
    display : flex;
    justify-content : space-between;
    height : 100vh;
    align-items : center;
    &__content {
        width : 40%; 
        display: flex;
        flex-direction: column;
        gap: 3rem; 
    }

    & img {
        width : 50%;
    }

    & input {
        background-color : $white-grayer;
        border-radius : 40px;
        padding : 1.3rem 0;
    }
}


.form__container-row {
    display : flex;
    gap : 1rem;
    justify-content : space-between;
}