.what-section {
    display : flex;
    flex-direction : column;
    gap : 2rem;

    & strong {
        text-decoration : underline;
    }
    
    & h2:after {
        content : "";
        background : url(../../img/what-smiley.png);
        background-size : contain;
        display : inline-block;
        width : 50px;
        height : 50px;
        background-repeat : no-repeat;
        position : relative;
        top : 10px;
    }

    & h2+p {
        color : $p-grey;
    }

    &__articles-content {
        display : flex;
        flex-wrap : wrap;
        gap : 1rem;

        & article {
            background-color : $white-gray;
            border : 2px $white-grayer solid;
            padding : 1rem 1.5rem;
            display : flex;
            flex-direction : column;
            align-items : center;
            text-align : center; 
            border-radius : 40px;
            gap : 1rem;

            & p {
                font-family : "Chillax", sans-serif;
            }
        }
    }
}