
<div class="form__row">
    {{form_widget(form.fk_city, {'attr': {'class': 'form__row__city'}})}}
</div>
<button class="btn">{{ button_label|default('Inscription') }}</button>
    

{# {{ form_start(form) }}
{{ form_end(form) }} #}
