{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <section class="register">
        <div class="register__content">
            <h1>Rejoins-nous !</h1>
            {{ include('user/_form.html.twig') }}
            </div>
        <img src="{{ asset('img/smile.png')}}" alt="">
    </section>


    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
