.nav {
  display: flex;
  justify-content: space-between;
  color: $p-grey;

  &__navContent {
    width: 60%;
    display: flex;
    justify-content: space-between;

    & ul {
      list-style-type: none;

      & li {
        margin: 0.3rem;
        display: inline-block;
      }
    }
  }

  &__navBtn {
    width: 20%;
  }
}
