.full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .splide-section {
    margin : 5rem 0;
    display : flex;
    flex-direction : column;
    gap : 2rem;

      & h2 {
        width : 60%;
        position : relative;

        @media (min-width: 768px) {
          width : 100%;
          position : static;
        }

        &:after {
          content : "";
            background : url(../../img/hmhm-smiley.png);
            background-size : contain;
            display : inline-block;
            background-repeat : no-repeat;
            position : absolute;
            right : -70px;
            top : -10px;
            width : 80px;
            height : 80px;

            @media (min-width: 768px) {
              position : relative;
              top : 10px;
              width : 50px;
              height : 50px;
              right : 0;
          }
        }
      }
  }

