@charset "UTF-8";
/*
    Utils
*/
@import "./utils/reset.css";
/*
    Fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax-Variable.woff2") format("woff2"), url("../fonts/Chillax-Variable.woff") format("woff"), url("../fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/*
Général
*/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*
Titres
*/
.title {
  font-family: "Chillax", sans-serif;
  font-weight: 600;
}
.title--h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
@media (min-width: 1080px) {
  .title--h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .title--h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}
.title--h2 {
  font-size: 2.5rem;
}
@media (min-width: 1080px) {
  .title--h2 {
    font-size: 4rem;
  }
}
.title--h3 {
  font-size: 2rem;
}
@media (min-width: 1080px) {
  .title--h3 {
    font-size: 2.5rem;
  }
}
.title--h4 {
  font-size: 1.8rem;
}
.title--footer {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 1080px) {
  .title--footer {
    font-size: 2rem;
  }
}

/*
Paragraphes
*/
.p {
  font-weight: 500;
}
.p--20 {
  line-height: 25px;
  font-size: 1.25rem;
}
.p--16 {
  line-height: 24px;
  font-size: 1rem;
}
.p--24 {
  line-height: 33px;
  font-size: 1.5rem;
  font-weight: 600;
}

/*
    Base
*/
.container {
  width: 85%;
  margin: auto;
  padding-top: 1.6rem;
}
@media (min-width: 1440px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 60%;
  }
}

body, html {
  min-height: 100vh;
}

body {
  position: relative;
}

/*
    Variables
*/
/*  
    Base components
*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
  padding: 3rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3rem 0;
  width: 85%;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (min-width: 1920px) {
  .footer__content {
    width: 70%;
  }
}
.footer__content__logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;
  gap: 0.3rem;
}
@media (max-width: 768px) {
  .footer__content__logo {
    width: 100%;
  }
}
.footer__content__logo img[alt="logo de Chiirz"] {
  width: 60%;
}
@media (max-width: 768px) {
  .footer__content__logo img[alt="logo de Chiirz"] {
    width: 50%;
    align-self: flex-start;
  }
}
.footer__content__logo img[alt=smiley] {
  width: 60%;
}
@media (max-width: 768px) {
  .footer__content__logo img[alt=smiley] {
    display: none;
  }
}
.footer__content__div {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__content__div {
    width: 100%;
  }
}
.footer__content__div__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.footer__content__div__nav article {
  width: 27%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .footer__content__div__nav article {
    width: 100%;
  }
}
.footer__content__div__nav article div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer__content__div__nav article ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer__content__div__nav article ul a {
  color: #555555;
  text-decoration: none;
}
.footer__content__div__btn {
  align-self: flex-end;
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .footer__content__div__btn {
    display: flex !important;
    justify-content: flex-start !important;
  }
}
.footer__content__mentions-legales {
  position: absolute;
  bottom: -30px;
  left: 0;
  font-weight: 600;
  display: flex;
  gap: 1rem;
}
.footer__content__mentions-legales a {
  color: #555555;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media (min-width: 1080px) {
  .nav {
    width: 90%;
    top: 70px;
  }
}
@media (min-width: 1280px) {
  .nav {
    width: 85%;
  }
}
@media (min-width: 1920px) {
  .nav {
    width: 70%;
  }
}
.nav__content-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
@media (min-width: 1080px) {
  .nav__content-nav {
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
}
.nav__content-nav a {
  text-decoration: none;
  color: #555555;
  font-family: "Chillax", sans-serif;
  font-weight: 600;
}
.nav__content-nav ul {
  display: none;
}
@media (min-width: 1080px) {
  .nav__content-nav ul {
    list-style-type: none;
    font-weight: 600;
    display: flex;
    gap: 1.8rem;
  }
}
@media (min-width: 1280px) {
  .nav__content-nav ul {
    gap: 1.5rem;
  }
}
.nav__content-nav img[alt="logo de Chiirz"] {
  width: 40%;
}
@media (min-width: 768px) {
  .nav__content-nav img[alt="logo de Chiirz"] {
    width: 30%;
  }
}
@media (min-width: 1080px) {
  .nav__content-nav img[alt="logo de Chiirz"] {
    width: 23%;
  }
}
.nav__content-nav img[alt=burger-menu] {
  display: inline-block;
  width: 23%;
}
@media (min-width: 768px) {
  .nav__content-nav img[alt=burger-menu] {
    width: 15%;
  }
}
@media (min-width: 1080px) {
  .nav__content-nav img[alt=burger-menu] {
    display: none;
  }
}
.nav__content-btn {
  display: none;
}
@media (min-width: 1080px) {
  .nav__content-btn {
    width: 35%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }
}
.nav__content-btn a {
  text-decoration: none;
  color: #000000;
}
.nav__content-online {
  display: none;
}
@media (min-width: 1080px) {
  .nav__content-online {
    display: block;
  }
}
.nav__content-online a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  gap: 1rem;
}
.nav__content-online a div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.nav__content-online a div p {
  color: #555555;
  font-size: 0.8rem;
}
.nav__content-online a div p + p {
  font-family: "Chillax Variable", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
}
.nav__content-online a img {
  width: 25%;
}
.nav__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: red;
}

.what-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.what-section strong {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .what-section h2 {
    width: 80%;
    position: relative;
  }
}
.what-section h2:after {
  content: "";
  background: url(../../img/what-smiley.png);
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
@media (max-width: 768px) {
  .what-section h2:after {
    position: absolute;
    right: -80px;
    top: -10px;
    width: 80px;
    height: 80px;
  }
}
.what-section h2 + p {
  color: #555555;
}
.what-section__articles-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .what-section__articles-content {
    justify-content: center;
  }
}
@media (min-width: 1080px) {
  .what-section__articles-content {
    justify-content: space-between;
  }
}
.what-section__articles-content article {
  background-color: #f8f8f8;
  border: 2px #d9d9d9 solid;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  width: 100%;
  gap: 1.3rem;
}
@media (min-width: 768px) {
  .what-section__articles-content article {
    width: 47%;
    gap: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .what-section__articles-content article {
    width: 23%;
    gap: 1.3rem;
  }
}
.what-section__articles-content article p {
  font-family: "Chillax", sans-serif;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 6rem;
  z-index: 0;
}
@media (min-width: 1440px) {
  .hero {
    width: 70%;
  }
}
@media (min-width: 1920px) {
  .hero {
    width: 60%;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__text {
    width: 50%;
  }
}
.hero__text span {
  background-color: #b1ef42;
  padding: 0 0.2rem 0 0.8rem;
  border-radius: 40px;
}
.hero__text p {
  color: #555555;
}
.hero__text__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1080px) {
  .hero__text__btn {
    gap: 1.5rem;
    flex-direction: row;
  }
}
.hero__text img {
  display: inline-block;
  align-self: flex-end;
}
@media (min-width: 768px) {
  .hero__text img {
    display: none;
  }
}
.hero__img {
  display: none;
}
@media (min-width: 768px) {
  .hero__img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}
.hero__img__beer {
  display: block;
  max-width: 100%;
}

.hero .container {
  padding-top: 0 !important;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.header--home {
  height: 100vh;
  background: url(../../img/svg/header-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-itinerer {
  background-size: 40%;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  margin: 4rem 0;
}
.header-itinerer__div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 55%;
}
.header-itinerer__div form select {
  background-color: #b1ef42;
  padding: 0 1.3rem;
  border-radius: 40px;
}
.header-itinerer__img-container {
  display: none;
}
@media (min-width: 768px) {
  .header-itinerer__img-container {
    display: block;
    width: 35%;
  }
}
.header-itinerer__img-container img {
  display: none;
}
@media (min-width: 768px) {
  .header-itinerer__img-container img {
    display: inline-block;
    width: 100%;
  }
}

.login {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .login {
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
}
.login__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .login__content {
    width: 40%;
  }
}
.login__content h1 {
  text-align: center;
}
@media (min-width: 768px) {
  .login__content h1 {
    text-align: left;
  }
}
.login img {
  width: 100%;
}
@media (min-width: 768px) {
  .login img {
    width: 50%;
  }
}
.login__login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login__login-form div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.login__login-form div input {
  background-color: #f8f8f8;
  border-radius: 40px;
  padding: 1rem;
}
@media (min-width: 768px) {
  .login__login-form div input {
    padding: 1.3rem 1rem;
  }
}
.login__login-form div input[type=checkbox] {
  margin-right: 1rem;
}
.login__login-form .btn {
  margin: auto;
}
@media (min-width: 768px) {
  .login__login-form .btn {
    margin: 0;
  }
}

.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .register {
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
}
.register__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .register__content {
    width: 45%;
  }
}
.register__content h1 {
  text-align: center;
}
@media (min-width: 768px) {
  .register__content h1 {
    text-align: left;
  }
}
.register img {
  width: 100%;
}
@media (min-width: 768px) {
  .register img {
    width: 50%;
  }
}
.register input, .register select {
  background-color: #f8f8f8;
  border-radius: 40px;
  padding: 1rem;
}
@media (min-width: 768px) {
  .register input, .register select {
    padding: 1.3rem 1rem;
  }
}

.form__container-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__container-row {
    flex-direction: row;
  }
}
.form__container-row__row {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.form__container-row__row input, .form__container-row__row select {
  padding: 1.3rem 1rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.user {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  overflow-y: hidden;
  gap: 3rem;
}
@media (min-width: 1080px) {
  .user {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.user__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
@media (min-width: 1080px) {
  .user__header {
    width: 50%;
  }
}
.user__header__heading {
  display: flex;
  gap: 0.5rem;
}
.user__header__heading img {
  width: 15%;
}
.user__header__profil {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user__header__profil img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__header__profil a {
  color: #555555;
  text-decoration: none;
}
.user__header__profil a:hover {
  text-decoration: underline;
}
.user__header__register-date {
  color: #555555;
}
.user__header__register-date span {
  font-weight: bolder;
}
.user__header__city {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user__header__city img {
  width: 15%;
}
.user__header__city__text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.user__header__city__text--city {
  font-family: "Chillax", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.user__header__btn {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media (min-width: 1080px) {
  .user__header__btn {
    flex-direction: row;
    gap: 1rem;
  }
}
.user__header__logout-delete {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1rem;
}
.user__header__logout-delete form button {
  background-color: transparent;
  color: #c82f2a;
  font-family: "Plus Jakarta Sans";
  cursor: pointer;
}
.user__header__logout-delete form button:hover {
  font-weight: 600;
}
.user__header__logout-delete__alter {
  text-decoration: none;
}
.user__header__logout-delete__alter:hover {
  text-decoration: underline;
  font-weight: 600;
}
.user__favorite {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1080px) {
  .user__favorite {
    width: 40%;
    overflow-y: scroll;
    height: 800px;
  }
  .user__favorite::-webkit-scrollbar {
    display: none;
  }
}
.user__favorite__itiner-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #000000;
  text-decoration: none;
}
.user__favorite__itiner-container__card {
  width: 100%;
  background-color: #f8f8f8;
  border: 1px #d9d9d9 solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  text-decoration: none;
  color: #000000;
  border-radius: 40px;
}
.user__favorite__itiner-container__card__img-bar {
  width: 40%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.user__favorite__itiner-container__card__desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.user__favorite__itiner-container__card__row {
  display: flex;
  justify-content: space-between;
  color: #555555;
  font-weight: 500;
  font-size: 1.3rem;
}
.user__favorite__itiner-container__card__row__rate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.user__favorite__itiner-container__card__row__rate img {
  height: 1.2rem;
}
.user__favorite__itiner-container__card__row__price {
  color: #a77fee;
  display: flex;
  gap: 0.05rem;
}

.section-itinerary {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1080px) {
  .section-itinerary {
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
  }
}
.section-itinerary__maps {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
@media (min-width: 1080px) {
  .section-itinerary__maps {
    width: 45%;
  }
}
.section-itinerary__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1080px) {
  .section-itinerary__content {
    width: 50%;
    height: 600px;
    overflow-y: scroll;
  }
  .section-itinerary__content::-webkit-scrollbar {
    display: none;
  }
}
.section-itinerary__content__creator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-itinerary__content__creator p {
  color: #555555;
}
.section-itinerary__content__creator p a {
  color: #000000;
  font-weight: bolder;
}
.section-itinerary__content__rate {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}
.section-itinerary__content__rate__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-itinerary__content__rate__rating img {
  width: 25px;
}
.section-itinerary__content__rate__rating div {
  color: #000000;
  font-weight: bolder;
}
.section-itinerary__content__rate__price {
  color: #a77fee;
  display: flex;
  gap: 0.05rem;
  font-weight: bold;
}
.section-itinerary__content__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .section-itinerary__content__buttons {
    flex-direction: row;
  }
}
.section-itinerary__content__buttons__btn {
  gap: 0.5rem;
}
.section-itinerary__content__buttons__btn img[alt=↗] {
  width: 8%;
}
.section-itinerary__content__like {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bolder;
  margin: 0.7rem 0;
}
.section-itinerary__content__steps {
  font-family: "Chillax", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.section-itinerary__content__steps ol {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.section-itinerary__content p:last-child span {
  color: #a77fee;
  font-weight: bold;
  font-family: "Chillax", sans-serif;
}

/*
    Elements
*/
.btn {
  border-radius: 500px;
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
}
.btn--primary {
  background-color: #000000;
  color: #ffffff;
  transition: all ease-in-out 0.2s;
}
.btn--primary:hover {
  background-color: #a77fee;
}
.btn--secondary {
  background-color: transparent;
  border: 2px #000000 solid;
  transition: all ease-in-out 0.2s;
  color: #000000;
}
.btn--secondary:hover {
  background-color: #a77fee;
}
.btn--primary-bis {
  background-color: #a77fee;
  border: none;
  transition: all ease-in-out 0.2s;
  color: #ffffff;
  align-items: center;
}
.btn--primary-bis:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn--secondary-bis {
  background-color: transparent;
  border: 2px #a77fee solid;
  transition: all ease-in-out 0.2s;
  color: #a77fee;
}
.btn--secondary-bis:hover {
  background-color: #000000;
}

.full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.splide-section {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .splide-section h2 {
    width: 60%;
    position: relative;
  }
}
.splide-section h2:after {
  content: "";
  background: url(../../img/hmhm-smiley.png);
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
@media (max-width: 768px) {
  .splide-section h2:after {
    position: absolute;
    right: -70px;
    top: -10px;
    width: 80px;
    height: 80px;
  }
}

.itiner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
}
.itiner-container__card {
  width: 100%;
  background-color: #f8f8f8;
  border: 1px #d9d9d9 solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  text-decoration: none;
  color: #000000;
  border-radius: 40px;
}
@media (min-width: 768px) {
  .itiner-container__card {
    width: 48%;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .itiner-container__card {
    width: 31%;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .itiner-container__card {
    width: 23%;
    flex-direction: column;
  }
}
.itiner-container__card__img-bar {
  width: 40%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
@media (min-width: 768px) {
  .itiner-container__card__img-bar {
    width: 100%;
  }
}
.itiner-container__card__desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .itiner-container__card__desc {
    gap: 1.5rem;
  }
}
.itiner-container__card__row {
  display: flex;
  justify-content: space-between;
  color: #555555;
  font-weight: 500;
  font-size: 1.3rem;
}
.itiner-container__card__row__rate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.itiner-container__card__row__rate img {
  height: 1.2rem;
}
.itiner-container__card__row__price {
  color: #a77fee;
  display: flex;
  gap: 0.05rem;
}/*# sourceMappingURL=main.css.map */